.home_body
  .mid_content_part
    .mid_inner_content
      .left_content_part
        %h2 Welcome to Messiah
        - sections = ['Who We Are', 'What We Believe', 'When To Come', 'Where To Meet', 'Why Messiah', 'Joining Messiah']
        %ul#sections
          - sections.each do |section|
            %li{id: "#{section} Content".gsub(/ /, '').underscore}= raw copywriting(section, scope: 'home_page')
      .right_content_part
        = image_tag 'building.jpg'
      .clear
    .middle_line_part
      = image_tag 'up_arrow.png', class: :up_arrow
    .down_menu_part
      %ul.down_menu
        - sections.each do |section|
          %li{id: section.gsub(/ /, '').underscore}
            %a{href: '#'} #{section}
