%section#about_messiah
%section#home_sidebar
  %header
    %h4 Worship Services
  %ul
    %li.first
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
    %li
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
    %li
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
    %li
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
%section#recent
  .first
    %header
      %h2 Latest News
      %h6
        %a{href: refinery.messengers_messengers_path} Weekly Messenger
        %a{href: refinery.messengers_messengers_path} Monthly Messenger
        %a{href: refinery.sermons_sermons_path} Recent Sermons
    %p Kroger Rewards has donated $8,113 to Messiah this year. To help us out, please <a href="#">enroll today!</a>
    %p
      %a{href:"#"} Adult softball season
      is just around the corner!
  %div
    %header
      %h2 Upcoming Events
      %h6
        %a{href: refinery.calendar_events_path, class: 'selected' } Calendar
    %table
      %tbody
        %tr
          %td April 20-21
          %td
            %a{href:"#"}UMW Spring Rummage Sale
        %tr
          %td March 18
          %td
            %a{href:"#"}3rd Sunday Breakfast
            %br
            Church for all people.
  %span.clear
