%section#about_messiah
  .slider-wrapper.theme-default
    .ribbon
    #slider.ramblingSlider
      .scene
        .scene_image
          = image_tag '/assets/messiah_people.png'
        .scene_content
          %h1 Welcome to Messiah!
          %p We are a united methodist congregation serving Westerville, Ohio and beyond. We invite you to worship with us at any of our five worship services, spanning traditional and contemporary styles. We know you'll feel at home at Messiah, a loving and caring community sharing a new life in Christ!
          %ul
            %li
              %h2 Where We Meet
            %li
              %h2 When We Meet
            %li
              %h2 Why Messiah?
            %li
              %h2 How to Join
      .scene
        .scene_content
          %h2 Scene 2
      .scene
        .scene_content
          %h2 Scene 3
    #html_caption.rambling-html-caption
      <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.

%section#home_sidebar
  %header
    %h4 Worship Services
  %ul
    %li.first
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
    %li
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
    %li
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
    %li
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
%section#recent
  .first
    %header
      %h2 Latest News
      %h6
        %a{href: refinery.messengers_messengers_path} Weekly Messenger
        %a{href: refinery.messengers_messengers_path} Monthly Messenger
        %a{href: refinery.sermons_sermons_path} Recent Sermons
    %p Kroger Rewards has donated $8,113 to Messiah this year. To help us out, please <a href="#">enroll today!</a>
    %p
      %a{href:"#"} Adult softball season
      is just around the corner!
  %div
    =render '/refinery/events/shared/upcoming'
  %span.clear

= render template: 'layouts/application'
