#footer_location
  #street_address 51 N. State Street
  #city Westerville
  #state Ohio
  #zip 43081
  #phone phone: 614-882-2167
  #fax fax: 614-882-2161
%p#copyright
  = t('.copyright', :year => Time.now.year, :site_name => RefinerySetting.find_or_set(:site_name, "Company Name"))
