#slideshow
  = image_tag 'building.jpg', :class => 'active'
  = image_tag 'matthew.jpg'
  = image_tag 'alleluia.jpg'
  = image_tag 'elissa.jpg'
#home_sections
  .section
    %h2 Discover Messiah
    %ul
      %li Worship Times
      %li Directions
      %li Staff Profiles
      %li Ministry Descriptions
  .section
    %h2 This Week at Messiah
    %ul
      %li Weekly Messenger
      %li Schedule
      %li Highlights
  .section
    %h2 Support Messiah
    %ul
      %li Donate
      %li Volunteer
