- content_for :body_content_title, 'Worship'
- content_for :body_content_left do
  %ol
    %li
      %a{href: refinery.sermons_sermons_path} See our Sermons
    %li
      %a{href: refinery.messengers_messengers_path} See our Weekly and Monthly Messengers

= render '/refinery/content_page'
