- content_for :body_content_right do
  %h1 Worship
  %ol
    %li
      %a{href: refinery.sermons_sermons_path} See our Sermons
    %li
      %a{href: refinery.messengers_messengers_path} See our Weekly and Monthly Messengers
