%footer#footer
  .wrapper
    #footer_quote
      = raw copywriting('Footer Quote', default: 'Enter His gates with thanksgiving, and His courts with praise. Give thanks to Him, bless His name. For the Lord is good, His steadfast love endures for ever. <br/><span class="source">- Psalm 100</span>')
    #church_info
      %p
        Church of the Messiah United Methodist
        %br
        51 N. State St. | Westerville, OH 43081
        %br
        admin@messiahumc.net
        %br
        614.882.2167
        %br
        = link_to 'login', '/refinery'
    %span.clear
  %span.clear
