.footerpart
  .footer_inner_div
    .foosecone
      %h4 Fellowship
      %ul
        %li UMW
        %li Grief recovery
        %li Lighthouse
        %li Be More Fit Aerobics
        %li Akitsukai Karate
        %li MACS
        %li Softball League
    .foosecone
      %h4 Ministries
      %ul
        %li Camping Ministries
        %li Health and Welfare
        %li Heifer Project
        %li Kairos Epiphany
        %li Music Ministries
        %li Disabilities Ministries (MAST)
    .foosecone
      %h4 Church &amp; Society
      %ul
        %li Urban Ministries
        %li Seasonal Ministries
        %li Ongoing Ministries
        %li Bethlehem on Broad street
        %li The Giving Tree
        %li Westerville Area Resource Ministry
        %li Habitat for Humanity
        %li Relay for Life
    .foosecone
      %h4 Missions
      %ul
        %li Missionaries
        %li Volunteers in Mission
        %li Missionary Support
        %li Africa University
    .footright
      %p.icon= image_tag 'footer_icon.png'
      %p 51 N. State St., Westerville OH 43081
      %p Voice 614-882-2167&nbsp;&nbsp;&nbsp;fax 614-882-2161
