%footer#footer
  .wrapper
    %nav
      %h5 Fellowship
      %ul
        %li UMW
        %li Grief recovery
        %li Lighthouse
        %li Be More Fit Aerobics
        %li Akitsukai Karate
        %li MACS
        %li Softball League
    %nav
      %h5 Ministries
      %ul
        %li Camping Ministries
        %li Health and Welfare
        %li Heifer Project
        %li Kairos Epiphany
        %li Music Ministries
        %li Disabilities Ministries (MAST)
    %nav
      %h5 Church &amp; Society
      %ul
        %li Urban Ministries
        %li Seasonal Ministries
        %li Ongoing Ministries
        %li Bethlehem on Broad street
        %li The Giving Tree
        %li Westerville Area Resource Ministry
        %li Habitat for Humanity
        %li Relay for Life
    %nav
      %h5 Missions
      %ul
        %li Missionaries
        %li Volunteers in Mission
        %li Missionary Support
        %li Africa University
    #church_info
      %p
        Church of the Messiah United Methodist
        %br
        51 N. State St. | Westerville, OH 43081
        %br
        info@umcmessiah.org
        %br
        614.882.2167
        %br
    %span.clear
  %span.clear
