%header#header
  .wrapper
    #logo_container
      %a{href: refinery.root_path}
        %img{src:"/assets/messiah_logo.png", alt:"Messiah"}
      %aside
        %span Church of the Messiah United Methodist
        %span 51 N. State St., Westerville OH 43081
    #search
      = form_tag refinery.search_url, :id => 'search_form' do
        = text_field_tag :query, {}, {:type => "text", :placeholder => "search our site", :value => (params[:query] if params[:query])}
  = render(partial: "/navigation", locals: { dom_id: 'menu', css: 'menu' })
