%header#header
  .wrapper
    #logo_container
      %a{href: refinery.root_path}
        %img{src:"/assets/messiah_logo.png", alt:"Messiah"}
      %aside
        %span Church of the Messiah United Methodist
        %span 51 N. State St., Westerville OH 43081
    #search
      = form_tag refinery.search_url, id: 'search_form', method: :get do
        = text_field_tag :query, (params[:query] or ''), {type: "text", placeholder: "search our site"}
  = render(partial: "/navigation", locals: { dom_id: 'menu', css: 'menu' })
