#body_content_right {
  .upcoming {
    li {
      margin: 5px 0;
    }

    a {
      display: block;
    }

    span {
      display: block;
      float: left;

      &.clear {
        float: none;
      }
    }

    .date {
      width: 50px;
    }
  }
}
