@import 'mixins';

#body_content_right {
  .upcoming {
    h3 {
      font-size: 20px;
      font-family: $general_font;
      color: $dark_purple;
    }

    li {
      margin: 5px 0;
    }

    a {
      display: block;
    }

    span {
      display: block;
      float: left;

      &.clear {
        float: none;
      }
    }

    .date {
      width: 50px;
    }

    .calendar_link {
      float: right;
    }
  }
}
