body {
  font-family: 'Open Sans Condensed', Helvetica Neue, Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

.opensans {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url('http://themes.googleusercontent.com/static/fonts/opensanscondensed/v3/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff') format('woff');
}
.istokweb{
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url('http://themes.googleusercontent.com/static/fonts/istokweb/v2/EvPKapBawcLZ3hbihjhqAT8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');

}

#main_body {
  background: url('body_background.png') repeat-x;
  background-color: #fff;
}

.whole_main_body {
  padding-bottom: 50px;
}

.headercontentpart {
  background: url('header_background.png');
  height: 142px;
  position: relative;
}

.main_header, .main_body_content {
  width: 1000px;
  position: relative;
  margin: 0 auto;
}

.main_logo {
  position: absolute;
  top: 30px;
}

.header_address {
  position: absolute;
  top: 88px;
  left: 250px;
  color: #9E4A84;
}

.header_cross {
  position: absolute;
  background: url('header_cross.png');
  height: 130px;
  width: 207px;
  left: 597px;
}

.search_box {
  position: absolute;
  padding: 5px;
  top: 91px;
  right: 20px;
  height: 30px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #56040a;
}

.menupart {
  height: 56px;
  margin: 0 auto;
  margin-top: -4px;
  width: 845px;
  font-family: 'Istok Web';
}

.menutopitems {
  margin-bottom: 5px;
  color: #fff;
  font-weight: 600;
}

.menutopitems a {
  text-decoration: none;
  font-size: 14px;
}


.menu_separator {
  float: left;
  margin-top: 11px;
}

.menu_item {
  float: left;
  padding: 15px 20px;
  color: #eeb243;
}

.menu_item.selected, .menu_item:hover {
  color: #fff;
  background: url('menu_selected_slice.png') repeat-x;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.footer_tab_bar {
  position: relative;
  height: 0;
}

.footer_tab {
  position: relative;
  padding: 5px;
  left: 200px;
  top: -30px;
  width: 200px;
  height: 30px;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #56040a;
  color: #fff;
  text-align: center;
}

.footer {
  background: #56040a;
  width: 100%;
  height: 195px;
}

.footerpart {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footerpart .foosecone {
  float: left;
  font-family: 'Istok Web';
  margin: 0 10px 0 44px;
}

.foosecone .foosecone:first-child {
  margin: 0 10px 0 0;
}

.footerpart ul {
  list-style: none;
}

.footerpart h4 {
  font-size: 12px;
  color: #fff;
}

.footerpart ul li {
  font-size: 11px;
  color: #ac574e;
  line-height: 15px;
}

.footright {
  float: left;
  margin-top: -15px;
}


.footright p {
  color: #fff;
  margin: 5px 0 5px 70px;
}


/* h1 { */
/*   font-size: 30px; */
/*   margin-bottom: 30px; */
/*   line-height: 36px; */
/* } */
/*  */
/*  */
/* h1 a { */
/*   text-decoration: none; */
/* } */
/*  */
/* h2 { */
/*   font-size: 18px; */
/*   color: #808040; */
/*   margin-top: 20px; */
/* } */
/*  */
/* #menu { */
/*   float: left; */
/* } */

#page, #site_bar_content, header {
  width: 1400px;
}

#page {
  clear: left;
}

/* #site_search_form { */
/*   float: right; */
/*   padding-top: 5px; */
/* } */
/*  */
/* #menu ul { */
/*   list-style: none; */
/*   padding: 0px; */
/*   height: 50px; */
/* } */
/*  */
/* #menu ul li { */
/*   float: left; */
/*   margin-right: 10px; */
/*   font-size: 18px; */
/* } */
/*  */
/* #menu ul li a { */
/*   display: block; */
/*   padding: 5px 10px; */
/*   text-decoration: none; */
/* } */
/*  */
/* #menu ul li.selected a, #menu ul li a:hover { */
/*   color: #808040 */
/* } */
/*  */
/* #footer_location { */
/*   padding-top: 30px; */
/* } */
/*  */
/* #footer_location > div { */
/*   float: left; */
/*   padding-right: 25px; */
/* } */
/*  */
/* #copyright { */
/*   clear: left; */
/* } */
/*  */
p {
  margin: 10px 0;
}

ul {
  list-style: disc outside;
  margin: 20px 0;
}

ul#gallery {
  list-style: none;
}
ul#gallery li {
  display: block;
  float: left;
  margin: 5px 50px 5px 0px;
}

/* ul li { */
/*   margin: 5px 20px 5px 40px; */
/* } */
