.whole_main_body {
  background: url(/assets/staff_pattern.jpg) repeat-x #FFFDE9;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  height: 85px;
}

h2 {
  margin: 25px 0 10px;
  color: #5F3D6F;
}

ul {
  list-style: disc;
  list-style-position: inside;
  margin-left: 40px;
}

ol {
  list-style: none;
  list-style-position: inside;
  margin-left: 40px;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: #000000;

  &:hover {
    text-decoration: underline;
  }
}

table {
  width: 100%;
}

th {
  text-align: left;
}

#body_content {
  padding: 10px 30px;
  width: 1000px;
}

.inner {
  font-family: Helvetica;
  font-size: 14px;
}

.location {
  text-transform: capitalize;
}

body.home {
  background: url('home_pattern.png');

  .whole_main_body {
    background: url('home_pattern.png');
    margin-top: -1px;
  }

  .inner_main_body {
    background: url('home_slice.png') repeat-x left bottom;
  }

  .mid_content_part {
    width: 850px;
    min-height: 323px;
    height: auto;
    padding: 10px 40px;
  }

  .mid_inner_content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f1b241;
    box-shadow: 0 0 3px black inset;
    -moz-box-shadow: 0 0 3px black inset;
    -webkit-box-shadow: 0 0 3px black inset;
    border: 2px solid #ecc46c;
    padding: 10px;
    font-family: 'Istok Web';
    font-size: 14px;
    font-weight: 50;
    line-height: 20px;
    min-height: 323px;
    height: auto;

    h2 {
      font-family: 'Open Sans Condensed';
      font-size: 24px;
      font-weight: 300px;
      margin: 0 0 15px;
      color: #000000;
    }
  }

  .left_content_part {
    float: left;
    width: 350px;
    margin: 30px;
  }

  .right_content_part img {
    border: 2px solid #000;
    margin-top: 5px;
  }

  .middle_line_part {
    margin: 0 auto;
    width: 971px;
    height: 39px;
    position: relative;
  }

  .down_menu_part {
    width: 971px;
    margin: 0 auto;
  }

  .up_arrow {
    position: absolute;
    left: 25px;
  }

  ul.down_menu {
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    list-style: none;
    margin: 0;

    li {
      display: inline;
      padding: 0 20px;
      margin: 0;
      border-left: 1px solid #5f3963;

      &:first-child {
        border-left: none;
      }
    }

    a {
      text-decoration: none;
      color: #000000;

      &:visited {
        text-decoration: none;
        color: #000000;
      }
    }
  }

  #slideshow {
    position:relative;
    height:450px;

    img {
      position:absolute;
      top:0;
      left:0;
      z-index:8;

      &.active {
        z-index:10;
      }

      &.last-active {
        z-index:9;
      }
    }
  }

  #sections {
    list-style: none;
    margin: 0;

    li {
      height: 0;
      overflow: hidden;
    }
  }
}

.clear {
  height: 0;
  width: 0;
  clear: both;
}
