@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: normal;
  src: local("EB Garamond"), local("EBGaramond"), url("http://themes.googleusercontent.com/static/fonts/ebgaramond/v4/CDR0kuiFK7I1OZ2hSdR7Gz8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

body {
  background: url(/assets/body_background.png) repeat top center transparent;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
}

#header {
  border-top: 4px solid #542f65;
  background: url(/assets/header_background.jpg) no-repeat top center #2b153b;
  height: 97px;
  color: #371f47;

  .wrapper {
    position: relative;
  }

  #logo_container{
    padding: 0 25px;

    a {
      padding: 0 40px;
      display: block;
    }

    a, aside {
      float: left;
    }

    aside {
      padding: 65px 0 0 3px;
      line-height: 1.1em;
    }

    aside span {
      display: block;
    }
  }

  #navigation {
    background-color: #542f65;
    height: 26px;
    border-top: 5px solid #b5c969;
    border-bottom: 3px solid #371f47;
    clear: both;
    font-family: 'EB Garamond';

    ul {
      height: 100%;
      padding-left: 50px;
    }

    li {
      float: left;
      height: 100%;
    }

    a {
      display: block;
      color: #ffffff;
      padding: 7px 25px 5px;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
    }
  }

  #search {
    height: 22px;
    width: 140px;
    padding: 10px;
    background-color: #542f65;
    position: absolute;
    top: 0;
    right: 0;

    input {
      width: 100%;
      color: #a3a3a3;
      background: url(/assets/search_input.png) no-repeat 0 0 transparent;
      border: none;
      padding: 3px 5px 2px 35px;
      font-size: 11px;
      line-height: 14px;
    }
  }
}

#content{
  min-height: 400px;
}

#footer {
  border-top: 4px solid #542f65;
  background: url(/assets/footer_background.png) no-repeat top center #C5C4B1;
  height: 284px;
}

.wrapper {
  width: 961px;
  margin: 0 auto;
}
