body {
  background: url(/assets/body_background.png) repeat top center transparent;
}

#header {
  border-top: 5px solid #542f65;
  background: url(/assets/header_background.jpg) no-repeat top center #2b153b;
  height: 97px;
}

.wrapper {
  width: 961px;
  margin: 0 auto;
}
