body {
  background: url(/assets/body_background.png) repeat top center transparent;
}

#header {
  border-top: 4px solid #542f65;
  border-bottom: 5px solid #b5c969;
  background: url(/assets/header_background.jpg) no-repeat top center #2b153b;
  height: 97px;

  #logo_container{
    padding-left: 65px;
  }
}

.wrapper {
  width: 961px;
  margin: 0 auto;
}
