@import 'mixins';

#body_content_right {
  .ministries_index {
    @include index_page_aside;

    .ministries {
      width: 490px;
      border-right: 1px solid $border_grey;

      li {
        margin-bottom: 20px;
      }
    }
  }

  .ministries {
    @include index_page_aside;

    h2 {
      margin-top: 0px;
    }

    .description {
      padding-top: 5px;

      h2 {
        margin-top: 5px;
      }
    }
  }

  .ministry_details {
    @include index_page_aside;

    aside {
      margin: 0 0 10px 20px;
    }

    section {
      p {
        margin: 15px 0;
      }
    }
  }

  .left, .right {
    width: 47%;
    padding-right: 10px;
  }
}
