$dark_purple: #371f47;
$purple: #542f65;
$light_purple: #9965AA;
$lighter_purple: #ecdff2;
$calendar_purple_dark: #5f4c6c;
$calendar_purple_light: #765984;
$calendar_purple_border: #7e688a;
$light_green: #b5c969;
$grey: #4f4941;
$border_grey: #d3d1c7;
$light_grey: #ada997;
$dark_grey: #4F4941;
$table_head_border: #ddd5e0;
$table_row_border: #e5e4dc;
$general_font: Verdana, Helvetica, sans-serif;

@mixin default_font {
  font-family: 'Cardo', serif;
  letter-spacing: -0.2px;
  word-spacing: 2px;
}

@mixin small_title {
  color: $lighter_purple;
  @include default_font;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
}

@mixin purple-white {
  background-color: $dark_purple;
  @include small_title;
}

@mixin right-content {
  width: 652px;
  float: right;
}

@mixin purple_title {
  @include default_font;
  font-size: 28px;
  line-height: 18px;
  padding-bottom: 6px;
  border-bottom: 2px solid $light_green;
  color: $purple;
  letter-spacing: -1px;
  line-height: 30px;
}

@mixin index_page_aside {
  aside {
    float: right;
  }
}
