@import 'mixins';

#body_content_right {
  .categories {
    width: 470px;

    .left {
      width: 45%;
    }

    .right {
      width: 45%;
    }
  }

  .staff_index {
    @include index_page_aside;
  }

  .staff {
    .by_category {
      li {
        border-top: 1px solid $border_grey;
        padding-bottom: 20px;

        &.first {
          border: none;
        }
      }
    }
  }

  .person_view {
    .bio {
      width: 65%;
      float: left;
    }

    aside {
      float: right;

      img {
        width: 150px;
        height: 215px;

        border-bottom: 1px solid #B6B6B6;
        padding-bottom: 10px;
        margin-bottom: 5px;
      }

      a {
        font-size: 10px;
      }
    }
  }

  li.person_view {
    padding-top: 25px;

    h2 {
      margin-top: 0;
    }

    &.first {
      padding-top: 0;
    }
  }

  li {
    margin-bottom: 12px;

    .job_title {
      font-style: italic;
      color: $grey;
    }
  }

  #pastors {
    margin-top: 25px;
    min-height: 540px;

    li {
      padding: 0 52px;
      margin-bottom: 20px;
      float: left;
      width: 148px;

      &.first {
        padding-left: 0px;
      }

      &.last {
        padding-right: 0px;
      }
    }

    p.image_container {
      height: 216px;
      width: 148px;
      margin-bottom: 5px;
    }
  }
}
